---

- name: Install and deploy Apache website
  hosts: all
  become: true

  tasks:
    - name: Install apache httpd
      ansible.builtin.apt:
        name: apache2
        state: present
        update_cache: yes

    - name: Ensure apache is running
      ansible.builtin.service:
        name: apache2
        state: started
        enabled: true

    - name: Copy web page
      ansible.builtin.copy:
        src: index.html
        dest: /var/www/html/index.html
        owner: root
        group: root
        mode: '0644'
      notify: Restart apache

  handlers:
    - name: Restart apache
      ansible.builtin.service:
        name: apache2
        state: restarted